/* SVG Document Buttons
--------------------------------------------- */


.icon-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:300px;
}


.svg-img-button{
    background-color: transparent;
    background-image: url(img-icon.svg);
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:5%;
    padding: 0;
    border: none;
    flex-grow: 1;
    line-height: 0;
    height:100px;
    width:86px;
    transition: none;
}

.svg-vid-button{
    background-color: transparent;
    background-image: url(vid-icon.svg);
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:5%;
    padding: 0;
    border: none;
    flex-grow: 1;
    line-height: 0;
    height:100px;
    width:86px;
}

.svg-doc-button{
    background-color: transparent;;
    background-image: url(doc-icon.svg);
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:5%;
    padding: 0;
    border: none;
    flex-grow: 1;
    line-height: 0;
    height:100px;
    width:86px;
}

.svg-button:hover{
    background-color:transparent;}
    
.svg-button:focus{
  background-color:transparent;}



