<div>
	<h3>PVC (Poly Vinyl Chloride)</h3>
	<ul>
		<li>A roofing system that combines PVC, a byproduct of the natural gas market, with plasticizers to make the membranes flexible.</li>
		<li>Prior to 2000, PVC membranes were used primarily as swimming pool liners, but have since become the fastest growing type of membrane used for roofing.</li>
		<li>Unlike TPO membranes, PVC requires a fuel source to remain ignited, meaning flammability is almost non-existant.</li>
		<li>Standard PVC membranes that use a liquid plasticizer at room temperature have a life span of about 17-20 years.</li>
	</ul>
</div>