<div>
	<h3>Single-Ply Membranes</h3>
		<p>The vast majority of flat roofs are constructed using a single-ply membrane, of which the most common type is TPO, or Thermoplastic Olefin. TPO sheets are a blend of polypropylene and ethylene propylene polymers and usually are reinforced with polyester. TPO sheets contain colorant, flame retardants, UV absorbers and other proprietary substances to achieve desired physical properties.</p>
		<p><span class="boldSpan">Pros:</span> TPO is cheap</p>
		
		<p><span class="boldSpan">Cons:</span></p>
		<ul>
			<li>Loose chemical standards</li>
			<li>Experimental formulations</li>
			<li>Short life expectancy</li>
			<li>Becomes brittle over time</li>
			<li>Set up to fail</li>
			<li>Cannot be recycled</li>
			<li>Worthless warranty</li>
		</ul>
</div>