<div>
	<h3>TPO (Thermoplastic Polyolefin)</h3>
		<p>A roofing system composed of recycled bottles, tires and wax-based polymers.  In efforts to find the right balance between flammability and UV stabilization, the ASTM has allowed changes to the formulation 6 times since 2003.</p>
		<p>Life expectancy of a TPO roof is 10-12 years due primarily to plasticizer migration.</p>
		<p>Fire related damages are hidden from the public eye buy pushing the claim onto HVAC contractors or source initiated contractors.</p>
		<p>Because the ASTM allows manufacturers to use any backer material without disclosing its compounds, EPA regulations will not allow for TPO roofing systems to be discarded into landfills, nor can they be recycled.</p>
		
		<p><span class="boldSpan">Pros:</span> TPO is cheap</p>
		
		<p><span class="boldSpan">Cons:</span></p>
		<ul>
			<li>Loose chemical standards</li>
			<li>Experimental formulations</li>
			<li>Short life expectancy</li>
			<li>Becomes brittle over time</li>
			<li>Set up to fail</li>
			<li>Cannot be recycled</li>
			<li>Worthless warranty</li>
		</ul>
</div>