<div class="science-paper">
    <div class="title-area">
        <h2>ASTM Standards</h2>
    </div>
    <h5 class="boldFont">ASTM D6878</h5>
    <div style="padding-left:25px;">
        <p class="boldFont">TPO</p>
        <p>Sets a minimum threshold for accelerated aging performance with respect to heat and ultraviolet light (UV) exposure.</p>
        <ul>
            <li></li>
        </ul>
        <p></p>
    </div>
    <h5 class="boldFont">ASTM D4434</h5>
    <div style="padding-left:25px;">
        <p class="boldFont">PVC</p>
        <ul>
            <li></li>
        </ul>
    </div>
    <h5 class="boldFont">ASTM D6754</h5>
    <div style="padding-left:25px;">
        <p class="boldFont">PVC with at least 51% Elvaloy®</p>
        <ul>
            <li>This standard was developed specifically for Elvaloy®. as it far exceeded all previous standards for flexible PVC membranes.</li>
            <li>100% recyclable.</li>
        </ul>
    </div>
    <div class="page-nav">
        <div class="page-nav-left">
            <a ui-sref="flat.plasticizer"><i class="fa fa-arrow-circle-left fa-3x"></i></a>
        </div>
        <div></div>
        <div class="page-nav-right">
            <a ui-sref="flat.warranty"><i class="fa fa-arrow-circle-right fa-3x"></i></a>
        </div>
    </div>
</div>