<div>
    <div class="majorPageHeading">Choose Evolution</div>
    <horiz-rule margintop='10' marginbottom="15"></horiz-rule>
    <div class="contentcopy">
        <h2>Evolution Has Been Roofing With Integrity, Quality, Value and Service Since 1985</h2>
        <p>When you need a flat, low-sloped, or metal roof for your commercial, industrial or institutional facility, it’s critical that you choose a commercial roofing contractor based on the qualifications of the contractor as well as the roof system manufacturer. Together, they will resolve your roofing issues, provide a return on your investment, and be there for future facility work and/or service.</p>
        <h2>Meeting Your Needs</h2>
        <p>Our estimators will inspect your roof, address your concerns and provide the proper solution. Whether it’s as simple as a leak or as extensive as a complete re-roof, you can count on Evolution Roofing to give you an honest assessment.</p>
        <h2>Communication</h2>
        <p>Our detailed roof evaluation and estimate will completely address the scope of work and the associated cost. You can expect an accurate timeline regarding completion of the work required and regular updates.<p>
        <h2>References</h2>
        <p>We are able to provide you with the contact information of several references. Let us know if you would like this information.<p>
        <h2>Experience</h2>
        <p>With over 25 years in the commercial roofing industry, we have dealt with a myriad of commercial and industrial roofing situations. We are confident in our ability to understand and effectively address your commercial roofing challenges. <p>


    </div>
    <div class="page-nav">
        <div class="page-nav-left">

        </div>
        <div></div>
        <div class="page-nav-right">
            <a ui-sref="flatsystems"><i class="fa fa-arrow-circle-right fa-3x"></i></a>
        </div>
    </div>
</div>