<div class="science-paper">
    <div class="title-area">
        <h2>EPDM (Ethylene Propylene Diene Monomer)</h2>
    </div>
    <p>ASTM standard D-1418</p>
    <img-with-caption class="right" imgsrc="partials/flat/img/epdm-installation.jpg" cap="Seams are the weak point with EPDM." title="Fig 1"></img-with-caption>
    <p>EPDM is an extremely durable synthetic rubber. Its two primary ingredients, ethylene and propylene, are derived from oil and natural gas. </p>
    <p>EPDM is a type of synthetic rubber with a wide range of applications. The most common use, however, is probably in vehicles. It is used in door seals, window seals, trunk seals, and sometimes hood seals.</p>
    <p>EPDM is also used in glass-run channels, radiators, garden and appliance hose, tubing, pond liners, washers, belts, electrical insulation, vibrators, O-rings, solar panel heat collectors, and speaker cone surrounds.</p>
    <p>As a roofing membrane, EPDM is available in both black and white, and is sold a broad variety of widths, ranging from 7.5 feet to fifty feet, and in two thicknesses, 45 and 60 mils. EPDM can be installed either fully adhered, mechanically attached or ballasted, with the seams of the roofing system sealed with liquid adhesives or specially formulated tape.</p>
    <p>Seams are glued rather than heat-welded and represents a poor choice for a durable, long-lasting commercial roof membrane.</p>
    <div class="page-nav">
        <div class="page-nav-left">
            <a ui-sref="flat.membranes"><i class="fa fa-arrow-circle-left fa-3x"></i></a>
        </div>
        <div></div>
        <div class="page-nav-right">
            <a ui-sref="flat.tpo"><i class="fa fa-arrow-circle-right fa-3x"></i></a>
        </div>
    </div>
</div>