<div>
    <div class="majorPageHeading">Edge Details</div>
    <horiz-rule margintop='10' marginbottom="15"></horiz-rule>
    <div class="contentcopy">
        <div class="systems-grid">
            <div class="systems-grid-item">
                <div class="title-bar">
                    <h2>EVO-E1</h2>
                </div>
                <div class="grid-content-edge">
                    <img src="partials/flat/img/edge-evo-e1.jpg" alt="">
                    <div>
                        <h3>For use on wall caps and non-draining edge</h3>
                        <p>EVO-E1 fascia provides your single-ply roof system with the maximum protection against wind up-lift damage to 215 mph, exceeding all municipal high-wind building codes.  Tested per ANSI/SPRI/FM 4435/ES-1 Standard to a design pressure of 290 lbs./ft2 to comply with the International Building Code.  Covers can be made from a variety of colors or anodized finish.</p>
                    </div>
                </div>
            </div>
            <div class="systems-grid-item">
                <div class="title-bar">
                    <h2>EVO-E2</h2>
                </div>
                <div class="grid-content-edge">
                    <img src="partials/flat/img/edge-evo-e2.jpg" alt="">
                    <div>
                        <h3>For use on non-draining edge conditions in high wind load</h3>
                        <p>EVO-E2 fascia system meets most municipal building codes requiring 110 mph installation.  Tested per ANSI/SPRI/FM/ES-1 Standard to a design pressure of 200 lbs./ft2.  Complies with the International Building Code. Covers can be made from a variety of colors or anodized finish.</p>
                    </div>
                </div>
                <div class="systems-grid-item">
                    <div class="title-bar">
                        <h2>EVO-E3</h2>
                    </div>
                    <div class="grid-content-edge">
                        <img src="partials/flat/img/edge-evo-e3.jpg" alt="">
                        <div>
                            <h3>For use on draining edge conditions in high wind load</h3>
                            <p>EVO-E3 fascia system meets most municipal building codes requiring 72 mph installation.  Tested per ANSI/SPRI/FM/ES-1 Standard to a design pressure of 210 lbs./ft2.  Complies with the International Building Code. Covers can be made from a variety of colors or anodized finish from 3.75" to 8" in height.</p>
                        </div>
                    </div>
                </div>
                <div class="systems-grid-item">
                    <div class="title-bar">
                        <h2>EVO-E4</h2>
                    </div>
                    <div class="grid-content-edge">
                        <img src="partials/flat/img/edge-evo-e4.jpg" alt="">
                        <div>
                            <h3>For use on draining edge conditions in standard wind load</h3>
                            <p>EVO-E4 is specifically designed to simplify the installation process and save cost.  Comprised of 22 gauge cleats and 24 gauge cover.  Tested per ANSI/SPRI/FM/ES-1 Standard to comply with the International Building Code. Available in heights from 3.75" to 8".  Limited colors in white, tan and grey.</p>
                        </div>
                    </div>
                </div>
                <div class="systems-grid-item">
                    <div class="title-bar">
                        <h2>NEVO-E5</h2>
                    </div>
                    <div class="grid-content-edge">
                        <img src="partials/flat/img/edge-evo-e5.jpg" alt="">
                        <div>
                            <h3>For use on curbs and specific draining conditions</h3>
                            <p>EVO-E5 fascia system meets most municipal building codes requiring 110 mph installation.  Tested per ANSI/SPRI/FM/ES-1 Standard to a design pressure of 200 lbs./ft2.  Complies with the International Building Code. Covers can be made from a variety of colors or anodized finish.</p>
                        </div>
                    </div>
                </div>
                <div class="systems-grid-item">
                    <div class="title-bar">
                        <h2>EVO-E6</h2>
                    </div>
                    <div class="grid-content-edge">
                        <img src="partials/flat/img/edge-evo-e6.jpg" alt="">
                        <div>
                            <h3>For use on curbs and specific wall conditions</h3>
                            <p>EVO-E6 high strength two piece counter flashings made from 24 gauge steel sheets.  Available in a variety of configurations, colors and sizes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-nav">
        <div class="page-nav-left">
            <a ui-sref="edgedetails"><i class="fa fa-arrow-circle-left fa-3x"></i></a>
        </div>
        <div></div>
        <div class="page-nav-right">
            <a ui-sref="flat.membranes"><i class="fa fa-arrow-circle-right fa-3x"></i></a>
        </div>
    </div>
</div>