<div>
	<div class="majorPageHeading">EVO Flat Roof Systems</div>
  <horiz-rule margintop='10' marginbottom="15"></horiz-rule>
	
	<div class="contentcopy projectsContainer">
		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
    
  		<li>
        <div grid-image-btn-item title="EVO-1HP" titleclass="titleArea"
          tagline="Average Life Span: 10 years to Life of Building" 
          imgsrc="resources/img/evo1.jpg"
          rid="system1"></div>
      </li>

      <li>
        <div grid-image-btn-item title="EVO-2SP" titleclass="titleArea"
          tagline="Average Life Span: 10-20 years" 
          imgsrc="resources/img/evo2.jpg"
          rid="system2"></div>
      </li>
  			
  		<li>
        <div grid-image-btn-item title="EVO-3" titleclass="titleArea"
          tagline="Average Life Span: 10-15 years" 
          imgsrc="resources/img/evo3.jpg"
          rid="system3"></div>
      </li>

      <li>
        <div grid-image-btn-item title="TPO" titleclass="titleArea"
          tagline="Average Life Span: 10-12 years" 
          imgsrc="resources/img/tpo.jpg"
          rid="system4"></div>
      </li>
     
      
		</ul>
	</div>
  <!-- Reveal Modals begin -->
  <div id="system1" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
  <h3>EVO-1HP</h3>
    <p>The last roof you will ever need! PVC roofing membranes made with DuPont™ Elvaloy<sup>®</sup> KEE are among the most durable, fastest to install, and easiest to maintain in the industry. Building owners who want their PVC roofing to last as long as possible, or who need extra resistance to weather and chemical attack, can expect decades of problem-free service.</p>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
  <div id="system2" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
   <h3>EVO-2SP</h3>
    <p>EVO-2SP roofing systems provide a clean, quick and economical installation with high resistance to fractures, weather elements, extreme temperature ranges and many contaminants.</p>
      <ul>
        <li>PVC Based Field Sheet using the ASTM D4434 Standard</li>
        <li>Enhanced performance over standard PVC compounds</li>
        <li>Outstanding thermal stability and flexability</li>
        <li>Enhanced solar heat reflectance and chemical resistance</li>
        <li>Warranty from 10-20 years</li>
      </ul>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <div id="system3" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
    <h3>EVO-3</h3>
      <ul>
        <li>PVC Based Field Sheet using the ASTM D4434 Standard</li>
        <li>Standard PVC compounds</li>
        <li>Better than average thermal stability and flexability</li>
        <li>Enhanced solar heat reflectance and chemical resistance</li>
        <li>Warranty from 10-15 years</li>
      </ul>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <div id="system4" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
    <h3>TPO</h3>
    <p>A roofing system composed of recycled bottles, tires and wax-based polymers.  Life expectancy of a TPO roof is 10-12 years. EPA regulations will not allow for TPO roofing systems to be discarded into landfills, nor can they be recycled.</p>
      <ul>
        <li>In efforts to find desirable balance between inflammability and UV stabilization, the ASTM has allowed changes to the formulation 6 times since 2003</li>
        <li>Fire related damages are hidden from the public eye by pushing the claim onto HVAC contractors or source initiated contractors</li>
        <li>The ASTM allows manufacturers to use any backer material without disclosing its compounds or origins, making recycling impossible</li>
        <li>Warranties are worthless</li>
      </ul>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <div id="system5" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
    <h3>Flat Roof Academy</h3>
    <p>Make an informed decision about your flat roof. Learn more about:</p>
    <ul>
      <li>Membrane Overview (TPO, EPDM, and PVC)</li>
      <li>PVC with Elvaloy®</li>
      <li>Plasticizer Migration</li>
      <li>ASTM Standards</li>
      <li>Manufacturer Warranties</li>
    </ul>
    <a class="button system5-close-reveal-modal" ui-sref="science">Continue</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <!-- <div id="system5" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
    <h3>Insulation</h3>
    <p>The most common flat roof system installed today is a membrane roof with polyisocyanurate (POLYISO or just ISO) insulation. Properly installed, it’s an excellent roof system with the best “R” value per inch of any available insulation. However, lets address a few myth's about ISO insulation that just never seem to go away.</p>
    <p><span class="boldSpan">Is Thicker Better?</span></p>
    <p>Much of the conventional wisdom surrounding flat roof insulation is simply out-dated and derives from a time when most roofing systems in the US were EPDM, Tar and Gravel or Modified Bitumen. All of these roofing systems will get around 180 degrees in summer months, with roof top temperatures rising to over 100 degrees within 15 minutes of the suns direct light hitting them.  <a class='close' >CONTINUE</a></p>
    <a class="button system5-close-reveal-modal" ui-sref="science.polyiso">Continue</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div> -->

  <div id="system6" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
    <h3>Building Envelope</h3>
    p>Prior to the new energy standards, a tar and gravel roof could hit 180 degrees, putting a massive heat load on the HVAC system. Now that maintaining temperature is easier with cool roofing systems, the HVAC systems no longer need to run continually to maintain a comfortable interior temperature, however, you may still be wasting energy and overloading the HVAC unless you address humidity, which should be maintained at the ASHRE standard of 40%-60% maximum humidity. The best balance is at 45-50%.</p>
    <a class="button system6-close-reveal-modal" ui-sref="science.envelope">Continue</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

 

</div>