<div>
    <div class="majorPageHeading">Edge Details</div>
    <horiz-rule margintop='10' marginbottom="15"></horiz-rule>
    <div class="contentcopy">
        <div class="systems-grid">
            <div class="systems-grid-item">
                <div class="title-bar">
                    <h2>EVO-E1</h2>
                </div>
                <div class="grid-content-edge">
                    <img src="partials/flat/img/edge-evo-e1.jpg" alt="">
                    <div>
                        <h3>For use on wall caps and non-draining edge</h3>
                       <p>EVO-E1 fascia provides your single-ply roof system with the maximum protection against wind up-lift damage to 215 mph, exceeding all municipal high-wind building codes.  Tested per ANSI/SPRI/FM 4435/ES-1 Standard to a design pressure of 290 lbs./ft2 to comply with the International Building Code.  Covers can be made from a variety of colors or anodized finish.</p>
                    </div>
                </div>
            </div>
            <div class="systems-grid-item">
                <div class="title-bar">
                    <h2>EVO-E2</h2>
                </div>
                <div class="grid-content-edge">
                    <img src="partials/flat/img/edge-evo-e2.jpg" alt="">
                    <div>
                        <h3>For use on non-draining edge conditions in high wind load</h3>
                    </div>
                </div>
            </div>
            <div class="systems-grid-item">
                <div class="title-bar">
                    <h2>EVO-E3</h2>

                </div>
                <div class="grid-content-edge">
                    <img src="partials/flat/img/edge-evo-e3.jpg" alt="">
                    <div>
                        <h3>For use on draining edge conditions in high wind load</h3>
                      
                    </div>
                </div>
            </div>
            <div class="systems-grid-item">
                <div class="title-bar">
                    <h2>EVO-E4</h2>
                </div>
                <div class="grid-content-edge">
                    <img src="partials/flat/img/edge-evo-e4.jpg" alt="">
                    <div>
                        <h3>For use on draining edge conditions in standard wind load</h3>
                      
                    </div>
                </div>
            </div>

            <div class="systems-grid-item">
                <div class="title-bar">
                    <h2>NEVO-E5</h2>
                </div>
                <div class="grid-content-edge">
                    <img src="partials/flat/img/edge-evo-e5.jpg" alt="">
                    <div>
                        <h3>For use on curbs and specific draining conditions</h3>
                       
                    </div>
                </div>
            </div>

            <div class="systems-grid-item">
                <div class="title-bar">
                    <h2>EVO-E6</h2>
                </div>
                <div class="grid-content-edge">
                    <img src="partials/flat/img/edge-evo-e6.jpg" alt="">
                    <div>
                        <h3>For use on curbs and specific wall conditions</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>