<div>
    <div class="majorPageHeading">EVO Flat Roof Systems</div>
    <horiz-rule margintop='10' marginbottom="15"></horiz-rule>
    <div class="contentcopy">
        <div class="systems-grid">
            <div class="systems-grid-item">
                <div class="title-bar">
                    <h2>EVO-1HP</h2>
                </div>
                <div class="grid-content">
                    <img src="resources/img/evo1.jpg" alt="">
                    <div>
                        <h3>Average Life Span: 10 years to Life of Building</h3>
                        <p>The last roof you will ever need! PVC roofing membranes made with DuPont™ Elvaloy<sup>®</sup> KEE are among the most durable, fastest to install, and easiest to maintain in the industry. Building owners who want their PVC roofing to last as long as possible, or who need extra resistance to weather and chemical attack, can expect decades of problem-free service.</p>
                        <ul>
                            <li>At least 51% Elvaloy KEE. ASTM D6754-2 Standard.</li>
                            <li>Plasticizer retention ensures the membrane remains flexible and workable indefinitely, even in extreme environments</li>
                            <li>Environmentally-friendly, contains no volatile organic compounds (VOC’s)</li>
                            <li>Superior solar heat reflectance, significantly reducing air conditioning costs.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="systems-grid-item">
                <div class="title-bar">
                    <h2>EVO-2SP</h2>
                </div>
                <div class="grid-content">
                    <img src="resources/img/evo2.jpg" alt="">
                    <div>
                        <h3>Average Life Span: 10-20 years</h3>
                        <p>EVO-2SP roofing systems provide a clean, quick and economical installation with high resistance to fractures, weather elements, extreme temperature ranges and many contaminants.</p>
                        <ul>
                            <li>PVC based membrane using the ASTM D4434 Standard</li>
                            <li>Enhanced performance over standard PVC compounds</li>
                            <li>Outstanding thermal stability and flexability</li>
                            <li>Enhanced solar heat reflectance and chemical resistance</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="systems-grid-item">
                <div class="title-bar">
                    <h2>EVO-3</h2>
                </div>
                <div class="grid-content">
                    <img src="resources/img/evo3.jpg" alt="">
                    <div>
                        <h3>Average Life Span: 10-15 years</h3>
                        <ul>
                            <li>PVC based membrane using the ASTM D4434 Standard</li>
                            <li>Standard PVC compounds</li>
                            <li>Better than average thermal stability and flexability</li>
                            <li>Enhanced solar heat reflectance and chemical resistance</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="systems-grid-item">
                <div class="title-bar">
                    <h2>TPO</h2>
                </div>
                <div class="grid-content">
                    <img src="resources/img/tpo.jpg" alt="">
                    <div>
                        <h3>Average Life Span: 10-12 years</h3>
                        <p>A roofing system composed of recycled bottles, tires and wax-based polymers.  Life expectancy of a TPO roof is 10-12 years. EPA regulations will not allow for TPO roofing systems to be discarded into landfills, nor can they be recycled.</p>
                        <ul>
                            <li>In efforts to find desirable balance between inflammability and UV stabilization, the ASTM has allowed changes to the formulation 6 times since 2003</li>
                            <li>Fire related damages are hidden from the public eye by pushing the claim onto HVAC contractors or source initiated contractors</li>
                            <li>The ASTM allows manufacturers to use any backer material without disclosing its compounds or origins, making recycling impossible</li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>