<div class="science-paper">
    <div class="title-area">
        <h2>Single Ply Membranes</h2>
    </div>
    <p class="subheading">At Evolution Roofing Systems, our focus is on long-lasting, durable roofing systems.  This philosophy runs counter to the prevailing industry mindset, which is to guarantee future income by replacing your roof every 10-15 years. Thermoplastic polyolefin (TPO) is the fastest-growing segment of the commercial roofing industry, and is also the cheapest, least durable, shortest lifespan roofing membrane.</p>
    <p>Sadly, most real estate developers intend to flip properties well within the lifespan of the roof, and are therefore simply not interested in the additional expense of a high quality lifetime roofing system.</p>
    <p>However, in many cases, that can be a very short-sighted view.  In negotiating a sale price for a property, more and more buyers are insisting on roofing inspections and discounts based on roof replacement timeframe.  Developers who intend to flip properties in a short timeframe can more than make up for the additional expense of installing a lifetime roof on the backend.</p>
    <p class="subheading">There are 3 most-used single ply membrane systems present on the market today: </p>
    <ul>
        <li>EPDM</li>
        <li>TPO</li>
        <li>PVC</li>
    </ul>
    <horiz-rule margintop='10' marginbottom="10"></horiz-rule>
    <span class="subheading">EPDM (Ethylene Propylene Diene Monomer)</span>
    <p>A rubber-like black membrane, usually non-reinforced. Most common application method is a fully adhered (glued down) with glued seams / flashings.</p>
    <p> EPDM is the least expensive single ply roofing type and requires no special equipment to install it (unlike PVC and TPO which require hot-air welding equipment) and thus is the first choice for contractors entering the flat roofing market and asphalt shingle roofers.</p>
    <p>EPDM roof system life expectancy is 10 to 15 years. Although the material <a ui-sref="flat.warranty">warranty</a> goes up to 40 years for a 90-mil EPDM from some manufacturers, it does not cover the seams. Failing seams are the main cause of EPDM roof leaks, followed by ponding water, for which EPDM has no warranty either.</p>
    <p>Evolution Roofing does not install EPDM.</p>
    <horiz-rule margintop='10' marginbottom="10"></horiz-rule>
    <span class="subheading">TPO (Thermoplastic Polyolefin)</span>
    <img-with-caption class="right" imgsrc="partials/flat/img/tpo.jpg" cap="Raw materials for manufacturing TPO." title="Fig 1"></img-with-caption>
    <p>No doubt you've heard the sales pitch touting the "new formulation" of TPO. TPO roof systems are under continuous development by numerous manufacturers, who constantly change the TPO formulation to achieve the lowest cost with acceptable performance. A TPO roof from the same manufacturer will most likely NOT be the same as the one produced a few years before or after. Also, the quality of different batches of TPO membranes may be questionable, as some TPO producers release the product to the end user without getting the UL and similar approvals/certification, as the formulation changes too often.</p>
    <p>Life expectancy of a TPO roof is 10-12 years due primarily to plasticizer migration.</p>
    <horiz-rule margintop='10' marginbottom="10"></horiz-rule>
    <span class="subheading">PVC (Polyvinyl Chloride)</span>
    <img-with-caption class="right" imgsrc="partials/flat/img/Membrane_CutawayView.png" cap="Reinforcement scrim between the two layers of PVC." title="Fig 2"></img-with-caption>
    <p>Polyvinyl Chloride (PVC) is a trusted membrane with a proven track record over decades of service. PVC’s popularity stems from its dependable, heat-welded seams, high reflectivity, superior physical attributes and resistance to water, chemicals, grease, fire and punctures.</p>
    <p>The PVC roofing membrane consists of a reinforcement scrim between the two layers of PVC. Top ply contains pigments, UV stabilizers, and other components to extend the life of the membrane. The bottom ply contains ingredients to provide consistent weld of top and bottom plies and fillers.</p>
    <horiz-rule margintop='10' marginbottom="10"></horiz-rule>
    <span class="subheading">PVC with Elvaloy® KEE</span>
    <img-with-caption class="right" imgsrc="partials/flat/img/elvaloy-materials.jpg" cap="Raw materials for Elvaloy KEE." title="Fig 3"></img-with-caption>
    <p>PVC roofing membranes made with DuPont™ Elvaloy<sup>®</sup> KEE are among the most durable, fastest to install, and easiest to maintain in the industry. Building owners who want their PVC roofing to last as long as possible, or who need extra resistance to weather and chemical attack, can specify PVC roofing made with DuPont™ Elvaloy<sup>®</sup> KEE terpolymer to assure decades of problem-free service.</p>
    <p>The elastomeric properties of Elvaloy<sup>®</sup> KEE are accompanied by convenient melting properties for thermoplastic processing. This makes the compound ideal for coating onto woven fabrics or scrim materials which are embedded in high-quality PVC roofing membranes to help fight against cutting, punctures or shrinkage. The thermoplastic characteristic of the compound makes heat-welding easier during installation and repair.</p>
    <p>Elvaloy® KEE won't migrate out of the PVC roofing system, even when exposed to chemical pollutants such as grease or fuels. Chemicals such as these tend to extract many other plasticizers, causing membranes to lose flexibility and become brittle. The permanent flexibility and chemical resistance of roofing membranes made with Elvaloy<sup>®</sup> KEE makes them a proven performance leader in single-ply PVC roofing.</p>
    <div class="page-nav">
        <div class="page-nav-left">

        </div>
        <div></div>
        <div class="page-nav-right">
            <a ui-sref="flat.epdm"><i class="fa fa-arrow-circle-right fa-3x"></i></a>
        </div>
    </div>
</div>