<div class="science-paper">
    <div class="title-area">
        <h2>Plasticizer Migration</h2>
    </div>

    <p><span class="boldFont">Plasticity</span> is a material property that describes the ability to deform without breaking. A <span class="boldFont">plasticiser</span> is a substance which when added to a material, makes it flexible, resilient and easier to handle (i.e. gives it plasticity).  In the case of roofing membranes, that material is PVC.  The softness of the flexible PVC products is obtained as a result of plasticisers coming between molecules to separate them, reducing intermolecular forces.</p>
    <h5 class="boldFont">Plasticizers and PVC</h5>
    <p>At normal temperature, PVC is basically rigid and brittle (not a lot of plasticity). Plasticizers are used to transform it into into a flexible membrane that can be used for roofing. These plasticizers are traditionally a <span class="boldFont">liquid</span> of <span class="boldFont">low molecular weight</span>, while PVC is a <span class="boldFont">solid</span> of <span class="boldFont">high molecular weight</span>. The result is that there is no covalent bond between the plasticizer and the PVC, which allows the plasticizer to move and even migrate out of the membrane when exposed to air, liquid, heat and other harsh conditions. Over time, the membrane will once again become hard and brittle, and with noticible shrinkage. This diffusion of a plasticizer out of the polymer structure is what is known as <span class="boldFont">Plasticizer Migration.</span></p>
    <img-with-caption class="right" imgsrc="partials/flat/img/Liquid-vs-Solid.jpg" cap="Typical plasticizer and Elvaloy." title="Fig 1"></img-with-caption>
    <h5 class="boldFont">Why Elvaloy is Different</h5>
    <p>Elvaloy is a different type of plasticizer, in that it is not a liquid! Elvaloy is a <span class="boldFont">solid of high molecular weight</span> that when combined with PVC (also a solid of high molecular weight) forms a permanent (covalent) bond that will not migrate out of the membrane.</p>
    <p>Unlike typical plasticizers, Elvaloy® is "locked" into the compound, thereby minimizing plasticizer migration.</p>
    <p>Because it is a <span class="boldFont">high-molecular-weight</span>, non-liquid PVC plasticizer, Elvaloy® resin adds permanent flexibility to the PVC compound, enabling higher-value use in more demanding applications such as weather-exposed roofing and environmental protection membranes.</p>
    <img-with-caption class="left" imgsrc="partials/flat/img/Plasticizer-Comparison.jpg" cap="Plasticizer comparison." title="Fig 2"></img-with-caption>
    <div class="page-nav">
        <div class="page-nav-left">
            <a ui-sref="flat.elvaloy"><i class="fa fa-arrow-circle-left fa-3x"></i></a>
        </div>
        <div></div>
        <div class="page-nav-right">
            <a ui-sref="flat.astm"><i class="fa fa-arrow-circle-right fa-3x"></i></a>
        </div>
    </div>
</div>