<div class="science-paper">
    <div class="title-area">
        <h2>TPO (Thermoplastic Polyolefin)</h2>
    </div>
    <p>ASTM D6878</p>
    <img-with-caption class="right" imgsrc="partials/flat/img/tpo.jpg" cap="Raw materials for manufacturing TPO." title="Fig 1"></img-with-caption>
    <p>Generally, TPO membrane comprises a cap layer (top side) and a core layer (bottom side) with a polyester scrim layer sandwiched between. Each of the cap and core layers is made of a TPO sheet but they may vary significantly in composition. When installed on the roof of a building, the cap layer of TPO
    membrane faces upward towards the direction of sunlight and the core layer faces downward towards the roof. The cap layer is formulated with TPO resins and additives, such as UV stabilizers, UV absorbers, antioxidants, process and thermal stabilizers, fire retardants, white pigments or color pigments, and any
    other additives. The formulation of the cap layer provides for long-term stability in an outside environment and an aesthetic appearance if containing color pigments. While the core layer may be formulated to include additives along with TPO resins, the core layer may be configured to include less or no additives to reduce costs.</p>
    <p>One of the greatest disadvantages of TPO is that it is a really young roofing technology. It has been around only for about 15 years and manufactures are still trying to figure out the best chemical formula that will make the product durable and long lasting while maintaining a competitive price. Finding this right formula has been a challenge for many manufacturers and over the years there have been many documented instances of seam failures and material failures such as membrane curing and cracking. New and improved formulas continue to be tested, but it is not possible to tell at this point how long a new TPO roofing product will last.</p>
    <p>TPO roofing membranes have been noted to have an issue of accelerated weathering when subjected to high thermal or solar loading. This problem has been specifically documented in the Southern states that get a lot of heat and sun throughout the year. The MRCA committee that issued the report based on their research, recommended the following to contractors: “If situations exist that may commonly elevate temperatures over 160 degrees or increase solar loads beyond "normal", question the manufacturer as to the suitability of their product for the situation; consider changing the product to a material that will clearly withstand the loading.</p>
    <p>The ASTM D6878 Standard which TPO falls under allows manufacturers to use any backer material without disclosing its compounds, EPA regulations will not allow for TPO roofing systems to be discarded into landfills, nor can they be recycled by traditional methods.</p>

    <ul>
        <li>Loose chemical standards</li>
        <li>Experimental formulations</li>
        <li>Short life expectancy</li>
        <li>Becomes brittle over time</li>
        <li>Set up to fail</li>
        <li>Cannot be recycled (must be returned to a properly equipped manufacturer, )</li>
        <li>Worthless warranty</li>
    </ul>
    <div class="page-nav">
        <div class="page-nav-left">
            <a ui-sref="flat.epdm"><i class="fa fa-arrow-circle-left fa-3x"></i></a>
        </div>
        <div></div>
        <div class="page-nav-right">
            <a ui-sref="flat.pvc"><i class="fa fa-arrow-circle-right fa-3x"></i></a>
        </div>
    </div>
</div>