<div class="science-paper">
	<div class="title-area">
		<h2>Membrane Warranties</h2>
	</div>
	<p>Typically, the warranty you may get with a flat roof is not from the Contractor who installed the roof, but from the Manufacturer of the membrane, and only covers membrane failure, and then only if the installation was done correctly.  The main purpose of the warranty is to offer you a small discount on materials for a replacement roof so that you choose the same manufacturer again.</p>
	<p>Below are some typical items your warranty may include, and how they are easily voided.</p>	
	<ol>
		<li>
			<p><i>Winds...</i></p>

			<p>Name any major city in America and look back at the last 6 months of weather data, you will almost assuredly find the wind speed at some time exceeded the maximum for the warranty.</p>
		</li>

		<li>
			<p><i>Brand materials: Membrane, Flashings, Adhesives and Sealants, Insulation, Cover Boards, Fasteners, Fastener Plates, Fastening Bars, Metal Work, Insulation Adhesives etc.</i></p>

			<p>A warranty can be voided if the installer uses any materials not provided by the Manufacturer</p>
		</li>
	</ol>

	<div class="page-nav">
        <div class="page-nav-left">
            <a ui-sref="flat.astm"><i class="fa fa-arrow-circle-left fa-3x"></i></a>
        </div>
        <div></div>
        <div class="page-nav-right">
            <a ui-sref="flat.membranes"><i class="fa fa-arrow-circle-right fa-3x"></i></a>
        </div>
    </div>
</div>