<div>
	<div class="majorPageHeading">Privacy Policy</div>
	<div class="hrule"></div>
	<div class="contentcopy">
		
		<p>This privacy policy discloses the privacy practices for www.RoyaltyRoofing.com and applies solely to information collected by this web site.</p>
		<h1>Information Collection, Use and Sharing</h1>
		<p>We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact. We will not sell or rent this information to anyone.</p>
		<p>Only employees who need your information to perform a specific job (for example, hiring/personnel activities) have access to personally identifiable information.</p>
		<p>We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill a request you may have.</p>
		<p>Unless you ask us not to, we may contact you via email in the future to tell you about (for example) new products or services, or changes to this privacy policy.</p>
		<h1>Your Access to and Control over Information</h1>
		
		<p>You can do the following by contacting us at 713-729-7663:<p>
		<ul>
			<li>Inquire what data we have about you, if any.</li>
			<li>Change/correct any data we have about you.</li>
			<li>Have us delete any data we have about you.</li>
			<li>Express any concern you have about our use of your data.</li>
			<li>Opt out of any future contacts from us.</li>
		</ul>
		<h1>Links</h1>
		<p>This web site contains links to other sites. We are not responsible for the content or privacy practices of these other sites. We encourage you to be aware of when you leave our site and to read the privacy statements of any other site that collects personally identifiable information.</p>
		<h1>Updates</h1>
		<p>Our Privacy Policy may change periodically and updates will be posted on this page. If you feel that we are not abiding by this privacy policy, you should contact us immediately at 713-729-7663.</p>
		
	</div>
</div>