<div class="contentcopy">
		<h1>Our Commitment to Safety</h1>
		<img-with-caption class="right" imgsrc="resources/img/slide03.png" cap="Dedicated to safety for our workers." title="Fig 1"></img-with-caption>
		<p>At Evolution Roofing, we understand the inherently risky nature of the roofing business, and we are absolutely dedicated to safety – for our workers, others at the jobsite, building owners and occupants. This commitment helps create safe working conditions and a secure workforce that can focus on the roofing job at hand.</p>
		
		<p>Evolution Roofing takes great pride in the success of our company and employees and the satisfaction of our customers, and we are committed to being leaders in the roofing industry with our established and proven safety program. The program promotes high morale and enables us to complete jobs on time and in a safe manner.</p>
		
		<p>Our goal is to ensure a positive and productive roofing experience and safe working environment for our installation crews and our customers. We are committed to maintaining our excellent standing in the roofing industry with respect to the safe completion of all projects that we are involved with.<p>

</div>
