<div class="contentcopy">
    <h1>Why Choose Evolution</h1>
    <h2>MISSION STATEMENT</h2>
    <p>We will provide the highest quality products, workmanship and prompt service to everyone who entrusts us with their roofing needs. Additionally, we are committed to protecting and enhancing the property of every owner by selecting the best manufacturer’s warranties in the industry to provide our customers with total peace of mind.</p>
    <h2>INTEGRITY</h2>
    <p>The underlying force that binds the people at Evolution Roofing to our customers and to each other for a relationship based upon trust. Integrity demands that this relationship be built on a foundation of high moral and ethical standards, and that we fulfill this demand in an honest and forthright manner toward our customers, each other and our community.</p>
    <h2>QUALITY</h2>
    <p>A multi-faceted goal that can only be defined, measured and achieved through customer satisfaction. High quality is the end result of totally committed people utilizing superior technical knowledge and proven products and systems, and delivering indispensable value added services – all combined in a productive effort to create and maintain a totally satisfied customer.<p>
    <h2>VALUE</h2>
    <p>We want our family of customers to realize when they are investing in a Evolution product they are getting quality and value-added assurance. We build this into each of our services.<p>
    <h2>SERVICE</h2>
    <p>An absolute must when investing in a new roof. Our offices are open 7AM-5PM Monday-Friday to deal promptly with any service needs. We also support our customers with a 24 hour answering service that operates seven days a week, night or day. Evolution’s reputation has been built on service by courteous, well trained employees.<p>

</div>
<div class="page-nav">
    <div class="page-nav-left">
        <a ui-sref="about.history"><i class="fa fa-arrow-circle-left fa-3x"></i></a>
    </div>
    <div></div>
    <div class="page-nav-right">
        <a ui-sref="about.safety"><i class="fa fa-arrow-circle-right fa-3x"></i></a>
    </div>
</div>