<div>
	<div class="hrule"></div>

	<h3>Building 01</h3>

	<div class="photoPair">
		<img src="jobs/townpark/shingles/01/Bldg01-3.jpg" alt="" ng-show="Ctrl.photo03=='before'">
		<img src="jobs/townpark/shingles/01/Bldg01-3.jpg" alt="" ng-show="Ctrl.photo03=='after'">
		
		<div class="togBtns">
			<label><input type="radio" ng-model="Ctrl.photo03" value="before" ng-change="Ctrl.photo03='before'">Before</label>
			<label><input type="radio" ng-model="Ctrl.photo03" value="after" ng-change="Ctrl.photo03='after'">After</label>
		</div>
	</div>
	
	<div class="photoPair">
		<img src="jobs/townpark/shingles/01/Bldg01-2.jpg" alt="" ng-show="Ctrl.photo02=='before'">
		<img src="jobs/townpark/shingles/01/Bldg01-2.jpg" alt="" ng-show="Ctrl.photo02=='after'">
		<div class="togBtns">
			<label><input type="radio" ng-model="Ctrl.photo02" value="before" ng-change="Ctrl.photo02='before'">Before</label>
			<label><input type="radio" ng-model="Ctrl.photo02" value="after" ng-change="Ctrl.photo02='after'">After</label>
		</div>
	</div>

	<div class="photoPair">
		<img src="jobs/townpark/shingles/01/Bldg01-1.jpg" alt="" ng-show="Ctrl.photo04=='before'">
		<img src="jobs/townpark/shingles/01/Bldg01-1.jpg" alt="" ng-show="Ctrl.photo04=='after'">
		<div class="togBtns">
			<label><input type="radio" ng-model="Ctrl.photo04" value="before" ng-change="Ctrl.photo04='before'">Before</label>
			<label><input type="radio" ng-model="Ctrl.photo04" value="after" ng-change="Ctrl.photo04='after'">After</label>
		</div>
	</div>

	<div class="photoPair">
		<img src="jobs/townpark/shingles/01/Bldg01-0.jpg" alt="" ng-show="Ctrl.photo01=='before'">
		<img src="jobs/townpark/shingles/01/Bldg01-0.jpg" alt="" ng-show="Ctrl.photo01=='after'">
		<div class="togBtns">
			<label><input type="radio" ng-model="Ctrl.photo01" value="before" ng-change="Ctrl.photo01='before'">Before</label>
			<label><input type="radio" ng-model="Ctrl.photo01" value="after" ng-change="Ctrl.photo01='after'">After</label>
		</div>
	</div>
	
</div>