<div>
	<div class="majorPageHeading">Pitched Roof Academy</div>
	<horiz-rule margintop='10' marginbottom="10"></horiz-rule>
	<div class="contentcopy">
		<div>
			<button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Select Paper</button><br>
			<ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
	  			<li><a ui-sref="pitched.shingles">Composition Shingles</a></li>
	  			<li><a ui-sref="pitched.metal">Standing Seam Metal</a></li>
	  			<li><a ui-sref="pitched.ceramic">Ceramic Tile</a></li>
	  			<li><a ui-sref="pitched.concrete">Concrete Tile</a></li>
	  			<li><a ui-sref="pitched.slate">Natural Slate</a></li>
	  			<li><a ui-sref="pitched.synthetic">Synthetic Composites</a></li>
	  			<li><a ui-sref="pitched.underlayments">Underlayments</a></li>
	  			<li><a ui-sref="pitched.ventilation">Ventilation</a></li>
	  			<li><a ui-sref="pitched.edge">Edge Details</a></li>
	  			<li><a ui-sref="pitched.valley">Valley Configurations</a></li>
	  			<li><a ui-sref="pitched.flashings">Wall Flashings</a></li>
	  			<li><a ui-sref="pitched.fasteners">Fasteners</a></li>
			</ul>
		</div>
		<horiz-rule margintop='10' marginbottom="15"></horiz-rule>
		<div ui-view class="small-12 columns"></div>
	</div>
</div>

