 <div class="science-paper">
	<div class="title-area">
		<h2>Ceramic Tile Roofing Systems</h2>
	</div>
	<p>The Chinese and Egyptians figured out some 6000 years ago that ceramic tiles can last a long time. While modern chemistry has made great strides in surface hardness and color variations, the last 200 years of clay and ceramic tile roofing have gone virtually unchanged. Spanish tile roofing systems are still made in lengths of a man’s thigh as when he’s forming it in the open sun to dry, before placing in the kiln to be cured. The colors come from pigments that turn colors from the intense heat, that become fused to the tile surface. Many of the awe inspiring colors from the past, included radiant blues, reds and oranges were derived from lead and radioactive materials that have now been outlawed.</p>

    <p>From ceramics to clay substrates, these hardened tiles are defiantly a sustainable product, yet building foundations must be made to hold they’re extreme weight on building that are firmly planted on bedrock, not gumbo soils of the Gulf Coast without foundations specifically engineered to withstand the weight. Return on Investment is the best with these systems as they are truly “Life of Building” if installed correctly.</p>
	<img src="resources/img/ceramic-tile.jpg" alt="synthetic-composite"></img>
	<div class="page-nav">
		<div class="page-nav-left">
			<a ui-sref="pitched.metal"><i class="fa fa-arrow-circle-left fa-3x"></i></a>
		</div>
		<div></div>
		<div class="page-nav-right">
			<a ui-sref="pitched.concrete"><i class="fa fa-arrow-circle-right fa-3x"></i></a>
		</div>
	</div>
 </div>