 <div class="science-paper">
	<div class="title-area">
		<h2>Concrete Tile Roofing Systems</h2>
	</div>
	 <p>Concrete based roofing tiles were all the rage in the late 80’s, yet a strong tile, after years in the sun become very fragile and almost impossible to walk upon without damaging or chipping the edges. They were designed with painted surface that only lasted about 25 years before the raw concrete was exposed. While many attempts were made to re-paint the surfaces by contractors, walking on the roofs did more damage than good. Not much has changed in chemistry of this type of roofing system and original ownership has changed many times for a variety of reasons. Being said, each new version or owner changed the design just enough to ensure that replacement shingles don’t exist, making the long term sustainability for the building owner unachievable, with Return On Investment minimal.</p>
	<img src="resources/img/concrete-tile.jpg" alt="concrete tile">
	<div class="page-nav">
		<div class="page-nav-left">
			<a ui-sref="pitched.ceramic"><i class="fa fa-arrow-circle-left fa-3x"></i></a>
		</div>
		<div></div>
		<div class="page-nav-right">
			<a ui-sref="pitched.slate"><i class="fa fa-arrow-circle-right fa-3x"></i></a>
		</div>
	</div>
 </div>