<div>
	<div class="majorPageHeading">Residential</div>
	<div class="hrule"></div>
	<div class="contentcopy">
		<h1>Selecting the Right Contractor</h1>
		<h2>Do you need a new roof on your house?</h2>
		<p>Next to the purchase of your home, one of the single largest expenses is usually the cost of a new roof. The first sign of a leak, a storm that does damage, or simply the extended age of your roof can all be signs that you need to take action before further damage is done to the exterior or interior of your home.</p>
		<p>Your first question might be, “Who do I call?” The more important question is, “Who do I trust to do the job right?”</p>
		<p>One call to Evolution Roofing will answer it all! Since 1985 we have been a leader in residential roof repair and re-roofing.</p>
		<h2>Make the right choice for your home’s roofing project.</h2>
		<p>The roof on your home is one of the most critical parts of the structure. It is vitally important that you select an honest, dependable and reliable contractor to do the work. Use the following checklist as a guide to help you select a contractor you feel comfortable with, who bids the work correctly at a fair price and gives you confidence that they will be there for any service related needs in the future.</p>
		<ol>
			<li>Has the contractor been in business for a minimum of five (5) years?</li>
			<li>Have I received proof of Liability and Workman’s Compensation Insurance?</li>
			<li>Do they have the equipment to handle the job?</li>
			<li>Has the contractor done work similar to ours in the past?</li>
			<li>Will they be there if a problem arises?</li>
			<li>Is a good, reliable product being suggested?</li>
			<li>Does the product have a good warranty?</li>
			<li>Is a workmanship warranty provided?</li>
			<li>Do I have a written contract documenting the job details?</li>
			<li>Has an appropriate start and finish time been given?</li>
			<li>Have I received a list of references and have I called them?</li>
			<li>Will I feel comfortable working with this contractor?</li>
			<li>Am I comfortable with the price that reflects a quality product and installation?</li>
			<li>Is this contractor a current member in good standing with BBB?</li>
			<li>Will this contractor six (6) nail all shingles?</li>
			<li>Does this contractor provide documentation to substantiate his work?</li>
		</ol>
		
		<h2>Choose Evolution Roofing and you will answer “Yes” to all 16 questions!</h2>
	</div>
</div>