<div class="science-paper">
    <div class="title-area">
        <h2>Edge Details</h2>
    </div>
    <p>There are two basic types of drip edge; traditional and double lipped. Traditional style is simply bent to a 90 degree angle and serves the purpose of protecting the fascia board from water draining off the roof edge. “Double Lipped” or DL drip edge was widely used prior to 1980 when shingles were made from cardboard, impregnated with asphalt and granules. As the roofs aged (approximately 12 years) the shingles would get so hard from degrading, that placing a ladder against then would break off the shingles. By having this extra bit of metal protruding, this would help prevent the shingle from breaking off in times of cleaning the roof off. In 1979, the Owens Corning Patent had expired on the fiberglass core shingle and all manufacturers changed to the better design.</p>
    <p>What we have found is that the best application for installing drip edge is to place a 1” x 2” (nominal) board behind the drip edge, and installing a drip edge a tad longer than the boards face, will prevent all water from coming into contact with the fascia board when raining, greatly extending the life of the paint on the building.</p>
    <div class="page-nav">
        <div class="page-nav-left">
            <a ui-sref="pitched.ventilation"><i class="fa fa-arrow-circle-left fa-3x"></i></a>
        </div>
        <div></div>
        <div class="page-nav-right">
            <a ui-sref="pitched.valley"><i class="fa fa-arrow-circle-right fa-3x"></i></a>
        </div>
    </div>
</div>