 <div class="science-paper">
	<div class="title-area">
		<h2>Standing Seam Metal Roofing Systems</h2>
	</div>
	<p>Most standing seam roofing systems installed today are painted surfaces, either by siliconized polyester or DuPont Kynar finishes. While metal roofing systems are sold by the hype of long term roofing systems, the main long term issue is eroding paint surface that exposes the metal underneath. Siliconized polyester being the cheaper version, last about 15 years before the metal surface is exposed to the elements. Kynar, while a better paint surface only lasts about 25 years. When comparing overall costs, the standing seam roof is about 2.5 times higher than a composition shingle system, meaning to get your Return On Investment or (ROI), the standing seam roof must last 2.5 times greater than a composition roof, or 37 to 75 years. This mathematical valuation excludes all metal roofing systems except for pure copper roofing systems, of which if installed properly could last the life of the building.</p>
	<img src="resources/img/standing-seam.jpg" alt="standing-seam metal"></img>
	<div class="page-nav">
		<div class="page-nav-left">
			<a ui-sref="pitched.shingles"><i class="fa fa-arrow-circle-left fa-3x"></i></a>
		</div>
		<div></div>
		<div class="page-nav-right">
			<a ui-sref="pitched.ceramic"><i class="fa fa-arrow-circle-right fa-3x"></i></a>
		</div>
	</div>
 </div>