<div>
    <div class="majorPageHeading">Pitched Roof Systems</div>
    <horiz-rule margintop='10' marginbottom="15"></horiz-rule>
    <div class="contentcopy">
        <div class="systems-grid">
            <div class="systems-grid-item">
                <div class="title-bar">
                    <h2>Composition Shingles</h2>
                </div>
                <div class="grid-content">
                    <img src="resources/img/composition-shingle.jpg" alt="">
                    <div>
                        <h3>Average Life Span: 15-30 years depending on location</h3>
                        <a ui-sref="pitched.shingles"><button type="button">Learn More</button></a>
                    </div>
                </div>
            </div>
            <div class="systems-grid-item">
                <div class="title-bar">
                    <h2>Standing Seam Metal Roofing Systems</h2>
                    
                </div>
                <div class="grid-content">
                    <img src="resources/img/standing-seam.jpg" alt="">
                    <div>
                        <h3>Average Life Span: 10-20 years</h3>
                        <a ui-sref="pitched.metal"><button type="button">Learn More</button></a>
                    </div>
                </div>
            </div>
            <div class="systems-grid-item">
                <div class="title-bar">
                    <h2>Ceramic Tile Roofing Systems</h2>

                </div>
                <div class="grid-content">
                    <img src="resources/img/ceramic-tile.jpg" alt="">
                    <div>
                        <h3>Average Life Span: 75-500 years</h3>
                        <a ui-sref="pitched.ceramic"><button type="button">Learn More</button></a>
                    </div>
                </div>
            </div>
            <div class="systems-grid-item">
                <div class="title-bar">
                    <h2>Concrete Tile</h2>
                </div>
                <div class="grid-content">
                    <img src="resources/img/concrete-tile.jpg" alt="">
                    <div>
                        <h3>Average Life Span: 25-30 years</h3>
                       <a ui-sref="pitched.concrete"><button type="button">Learn More</button></a>
                    </div>
                </div>
            </div>

            <div class="systems-grid-item">
                <div class="title-bar">
                    <h2>Natural Slate</h2>
                </div>
                <div class="grid-content">
                    <img src="resources/img/natural-slate.jpg" alt="">
                    <div>
                        <h3>Average Life Span: 70-125 years</h3>
                        <a ui-sref="pitched.slate"><button type="button">Learn More</button></a>
                    </div>
                </div>
            </div>

            <div class="systems-grid-item">
                <div class="title-bar">
                    <h2>Synthetic Composites</h2>
                </div>
                <div class="grid-content">
                    <img src="resources/img/synthetic-composite.jpg" alt="">
                    <div>
                        <h3>Average Life Span: 20-25 years</h3>
                        <a ui-sref="pitched.synthetic"><button type="button">Learn More</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-nav">
        <div class="page-nav-left">
             <a ui-sref="contractor"><i class="fa fa-arrow-circle-left fa-3x"></i></a>
        </div>
        <div></div>
        <div class="page-nav-right">
            <a ui-sref="pitched.shingles"><i class="fa fa-arrow-circle-right fa-3x"></i></a>
        </div>
    </div>
</div>