<div class="science-paper">
    <div class="title-area">
        <h2>Natural Slate</h2>
    </div>
    <p>Slate roofing is generally comprised of natural rock slate from various locations around the world. It provides long lasting and great beauty to a structure, and weather’s for that rustic old world charm. System installs require a water shedding underlayment of either water shield or heavy felt papers, depending on geographical location, mostly decided upon snow as the deciding factor. One version made by GAF called TRU Slate, uses a hanging method vs traditional that makes the roofing systems truly sustainable and repairable over time. Being able to simply slide out a broken tile on install a new section, from wind damage or just chasing a leak, this system is far superior to traditional methods that are problematic in maintaining. Return on Investment, is very high with this product as life of building sustainability is guaranteed.</p>
    <img src="resources/img/natural-slate.jpg" alt="concrete tile">
    <div class="page-nav">
        <div class="page-nav-left">
            <a ui-sref="pitched.concrete"><i class="fa fa-arrow-circle-left fa-3x"></i></a>
        </div>
        <div></div>
        <div class="page-nav-right">
            <a ui-sref="pitched.synthetic"><i class="fa fa-arrow-circle-right fa-3x"></i></a>
        </div>
    </div>
</div>