<div class="science-paper">
    <div class="title-area">
        <h2>Synthetic Composites</h2>
        <p>Many products exist to emulate other types of roofing systems. Stone Coated Steel panels with ceramic granules that look like heavy hand split wood shakes or ceramic tile offer some hail resistance, year long term sustainability doesn’t extend much past the 25 year mark. What we find is that the steel panels may still exist some 25 years later, the epoxy for which holds the granules starts failing from day one, and by 25 years, opens areas of the galvanized substrate is highly visible.</p>
        <p>High impact polymers also are becoming a common place, but have very specific uses where ROI is advisable where steep pitch mansards ensure long term sustainability, mostly due to the fact that the direct sun’s rays are limited to 5 to6 hours a day vs 11 to 12 hours a day on low roof pitch applications. Rain water and heat can destroy these polymers at the same rate as composition shingles.</p>
        <img src="resources/img/synthetic-composite.jpg" alt="synthetic-composite"></img>
        <div class="page-nav">
            <div class="page-nav-left">
                <a ui-sref="pitched.concrete"><i class="fa fa-arrow-circle-left fa-3x"></i></a>
            </div>
            <div></div>
            <div class="page-nav-right">
                <a ui-sref="pitched.underlayments"><i class="fa fa-arrow-circle-right fa-3x"></i></a>
            </div>
        </div>
    </div>
</div>