<div class="science-paper">
    <div class="title-area">
        <h2>Valley Configurations</h2>
    </div>
    <p>The points at which to roof planes meet is called a valley. While 90% of shingle valleys are installed in a half lace configuration, there are advantages of other methods depending on building design.</p>
    <p><span class="boldFont">Half Laced</span> – One row of shingles installed going over the valley line generally one foot with the other side having the shingle cut at the angle of the valley.</p>
    <p><span class="boldFont">Full Laced</span> – One shingle installed from each direction, lacing the shingles over each other.</p>
    <p><span class="boldFont">Metal Underlay</span> – Installation of a roll of 26 Gauge galvanized metal 20” in width running the distance of the valley and then composition shingles installed in the fashions as aforementioned.</p>
    <p><span class="boldFont">Open Valley</span> – This design allows the metal valley to be exposed, generally in a color, to help leaves wash off the roof in buildings with heavy tree overhang.</p>
    <p><span class="boldFont">“W” Style Open Valley</span> – The installation of pre bent valley metal designed to conform to the roof decking, acts like a spring loaded flashing preventing buckling from deviations in the foundation movement. By design, forces a complete washout of the valley from all leaves. If your property has overhanging trees, this is your best option.</p>
    <img src="resources/img/ValleyConfigs01.png" alt="">
    <img src="resources/img/ValleyConfigs02.png" alt="">
    <div class="page-nav">
        <div class="page-nav-left">
            <a ui-sref="pitched.edge"><i class="fa fa-arrow-circle-left fa-3x"></i></a>
        </div>
        <div></div>
        <div class="page-nav-right">
            <a ui-sref="pitched.flashings"><i class="fa fa-arrow-circle-right fa-3x"></i></a>
        </div>
    </div>
</div>