 <div class="science-paper">
 <div class="title-area">
 	<h2>DuPont™ Elvaloy<sup>®</sup> KEE</h2>
 </div>
 	<img-with-caption class="right" imgsrc="partials/science/img/elvaloy-roll.jpg" cap="Elvaloy roll." title="Fig 1"></img-with-caption>
	<span class="subheading">-- The Short Version --</span>
	<p class="subheading">The last roof you will ever need! PVC roofing membranes made with DuPont™ Elvaloy<sup>®</sup> KEE are among the most durable, fastest to install, and easiest to maintain in the industry. Building owners who want their PVC roofing to last as long as possible, or who need extra resistance to weather and chemical attack, can expect decades of problem-free service.</p>
	<br>
    <h3>Not all Elvaloy is the same!</h3>
    <p>Evolution Roofing's EVO-1HP falls under the <a ui-sref="science.astm"><span class="boldFont">ASTM D6754-2</span></a> Standard, not the more common ASTM D4434.  The D6754-2 is a stricker standard that specifies the exact formulation of ingredients, with Elvaloy<sup>®</sup> KEE being at least 51%.</p>
    <br>
	<span class="subheading">-- The Long Version --</span>
 	<p>The EVO-1HP SinglePly Roof membrane with Elvaloy<sup>®</sup> KEE offers a level of endurance and performance that is well beyond other single ply roofing membranes. The initial installation cost is very competitive, and the proven long term durability provides long lasting value. Elvaloy enhances the performance and extends the useful life of polyvinyl chloride (PVC) products. Because of its high molecular weight, Elvaloy does not <a ui-sref="science.plasticizer">migrate</a> out of the PVC membrane, improves low-temperature performance and helps to keep the membrane pliable and weldable.</p>

	 <ul>
        <li>Contains over 51% Dupont Elvaloy<sup>®</sup> KEE.</li>
        <li>Molecular bond between the fabric and the coating eliminates wicking and prohibits the entry of destructive moisture or chemical solutions into the membrane</li>
        <li>Plasticizer retention ensures the membrane remains flexible and workable indefinitely, even in extreme environments</li>
        <li>Superior tear and puncture resistance</li>
        <li>Superior fungus and algae resistance</li>
        <li>Superior solar heat reflectance, significantly reducing air conditioning costs.</li>
        <li>Environmentally-friendly, contains no volatile organic compounds (VOC’s)</li>
        <li>100% Recycability</li>
        <li>Low lifetime maintenence costs</li>
        <li>Meets every major code requirement known</li>
        <li>Warranty from 10 years to Life of Building</li>
      </ul>
 </div>