
 <div class="science-paper">
 <div class="title-area">
 	<h2>Polyisocyanurate Insulation</h2>
 </div>
 	<img-with-caption class="right" imgsrc="resources/img/Iso-Finished1.jpg" cap="Installation of rigid roofing insulation." title="Fig 1"></img-with-caption>
	<span class="subheading">-- The Short Version --</span>
	<p class="subheading">Don't pay for what you do not need!  Insulation standards do not always take into account modern cool roof systems, but are instead engineered to accomodate the worst case scenario.  Of course you must meet the minimum standards for your location, but there is rarely any need to exceed those standards. Don't let anyone talk you into buying more insulation than is required.  You will be much better off putting your money into the highest quality membrane rather than excess insulation.</p>
	<br>
	<span class="subheading">-- The Long Version --</span>
 	<p>Insulation slows the flow of heat into or out of a house. While heat can move three ways (conduction, convection, and radiation) it rarely moves in only one of them; all three mechanisms are working together in varying degrees. Heat always moves from hot areas to cold areas. In summer, exterior heat will flow toward the cooler interior of a home. In winter, interior heat will flow toward the exterior. The role of insulation is to slow this heat flow. You can't stop heat, but you can slow it down.</p>

	<span class="subheading">Polyisocyanurate "ISO"</span>
	<p>Different insulation materials have different success at slowing these heat-flow mechanisms, which is express by it's Thermal Resistance or R-Ralue. The most common flat roof system installed today is a membrane roof with polyisocyanurate (POLYISO or just ISO) insulation, which has an <span class="boldSpan">R-Value of 6.00 per Inch Thickness</span>, the best R-Value per inch of any available insulation.</p>

 	<span class="subheading">Old School vs. Cool Roofs</span>

 	<p>While it may seem intuitive that "thicker is better", the fact is after a certain point, piling on more insulation is both costly and ineffective.  If 1/4" styrofoam prevents 180° hot coffee from burning your hand, does 1" of styrofoam make it burn less?</p>

 	<img-with-caption class="right" imgsrc="partials/science/img/CoolRoof.png" cap="Characteristics of cool roof" title="Fig 2"></img-with-caption>

 	<p>As of 2008, most municipalities and architects adopted a cool roof standard, which requires all roof temperatures to remain within a few degrees of the outside air. On a normal 90 degree summer day, a roof should be 93 to 94 degrees, thus creating a 22 degree variance between roof surface and desired interior temperature. This low variance simply does not require the thick insulation that was once needed before cool roofs, when variances could reach over 150°. Therefore, the original 2004 ASHRAE 90.1 Standard, which was adopted before cool roofs, is still more than enough for today's cooler roofs.</p>
 	
	<span class="subheading">The Texas Gulf Coast</span>
	<p>The R-Value requirement for Climate Zone 2 (Gulf Coast region) is 15. A single 3-inch layer of POLYISO provides an R-Value of 18. Paying an extra 5% for a 3.1" thickness, bringing it up to an R-Value of 18.6 is not making the insulation any more effective... it just costs you more.</p>
	<img-with-caption imgsrc="partials/science/img/ClimateZoneMap.jpg" cap="Climate zone map" title="Fig 3"></img-with-caption>
 	<p class="footnote">State and local building codes have requirements for insulation thermal resistances. Forty-seven states, as well as Washington, D.C., have adopted the Intl. Building Code (IBC). Chapter 13: Energy Efficiency of the IBC, in turn, references the Intl. Energy Conservation Code (IECC). The IECC has adopted the ASHRAE 90.1-2004, Energy Standard for Buildings Except Low-Rise Residential Buildings as a reference standard. The ASHRAE 90.1 standard separates the United States into eight climate zones, with Zone 1 being the hottest and Zone 8 being the coldest. </p>
 </div>
