<div>
	<div class="majorPageHeading">The Science of Roofing</div>
	<horiz-rule margintop='10' marginbottom="10"></horiz-rule>
	<div class="contentcopy">
		<div>
			<button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Select Paper</button><br>
			<ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
	  			<li><a ui-sref="science.polyiso">Polyisocyanurate Insulation</a></li>
	  			<li><a ui-sref="science.envelope">The Building Envelope</a></li>
	  			
			</ul>
		</div>
		<horiz-rule margintop='10' marginbottom="15"></horiz-rule>
		<div ui-view class="small-12 columns"></div>
	</div>
</div>

