<div class="science-paper">
	<div class="title-area">
 		<h2>TPO (Thermoplastic Polyolefin)</h2>
 	</div>
 	<p>ASTM D6434</p>
 	<p>The ASTM D6434 Standard which TPO falls under allows manufacturers to use any backer material without disclosing its compounds, EPA regulations will not allow for TPO roofing systems to be discarded into landfills, nor can they be recycled.</p>
  	<img-with-caption class="right" imgsrc="partials/science/img/tpo.jpg" cap="Raw materials for manufacturing TPO." title="Fig 1"></img-with-caption>
  	<ul>
		<li>Loose chemical standards</li>
		<li>Experimental formulations</li>
		<li>Short life expectancy</li>
		<li>Becomes brittle over time</li>
		<li>Set up to fail</li>
		<li>Cannot be recycled</li>
		<li>Worthless warranty</li>
	</ul>
</div>