<div>
	<div class="majorPageHeading">About Us</div>
	<div class="hrule"></div>
	
	<div class="contentcopy">
		<h1>History</h1>
		<p>Evolution Roofing began life in 1985 as Starfish Roofing, with a focus on residential shingle replacement.  During the nineties the company expanded first into apartment complex roofing and then into commercial buildings. By 1999, Starfish employed over 100 full-time employees and was firmly established throughout Texas, Louisiana and Oklahoma.</p>
		
		<p>In 2007, company founder and CEO Steve Martin was chosen by the City of Houston to participate in rewriting the building codes for the city to incorporate stricter energy efficiency standards. Steve spent hundreds of hours re-writing the buildings codes for roofing standards, which resulted in the most stringent in the country, exceeding Title 24 in California at the time. The Federal Government was also publishing new energy efficient guidelines at this time, and Starfish Roofing was the first company in Texas to become an Energy Star Partner.</p>
		
		<p>In August 2008, during the rebuilding process following the devestation caused by Hurricane Ike, Steve was chosen by the Mayor’s Council to develop the City of Houston’s Registered Roofers Program to certify reputable roofing companies from fly-by-night storm-chasers. In addition, he developed a Re-roofing Program for the 25,000 Houstonian’s asking for Federal assistance to prevent a repeat of the beaucratic red-tape that hobbled similar efforts New Orleans after Hurricane Katrina, resulting in a sea of blue tarps for years afterward. At end of 2008, Steve was elected President of the Green Roofers Initiative at the Greater Houston Partnership, educating industry manufacturers, distributors and local business owners in understanding the cost benefits of energy efficient roofing systems.</p>
		<p>In 2011, the company changed it's name to Evolution Roofing to reflect a more national presence beyond it humble origins on the Texas Gulf Coast.</p>

		<p>Evolution Roofing is dedicated to providing energy efficient, long lasting, and sustainable roofing systems.</p>
		
		
		
	</div>
</div>