<div id="tagline"><h1>The Next Generation of Commercial Roofing</h1></div>

<div class="clearfix"></div>

<div class="contentcopy projectsContainer">
    <ul class="small-block-grid-1 medium-block-grid-2">
        
        <li>
            <a ui-sref="history"><home-page-item title="About Us" imgsrc="resources/img/about.jpg"/></a>
        </li>

        <li>
            <a ui-sref="roofsystems"><home-page-item title="Roofing Systems" imgsrc="resources/img/systems.jpg"/></a>
        </li>

       
    </ul>
</div>