<div>
	<div class="majorPageHeading">Projects</div>
	<div class="hrule"></div>
	
	<div class="contentcopy">
		<h1>On-site Photos</h1>
		<p>July 23, 2015. ...Ohio.</p>
		<slick dots=true infinite=true speed=300 slides-to-show=3 slides-to-scroll=3> 
 	    	<div><img src="resources/img/slick/IMG_03331.jpg" alt=""></div>
 	    	<div><img src="resources/img/slick/IMG_03341.jpg" alt=""></div>
 	    	<div><img src="resources/img/slick/IMG_03351.jpg" alt=""></div>
 	    	<div><img src="resources/img/slick/IMG_03401.jpg" alt=""></div>
 	    	<div><img src="resources/img/slick/IMG_03301.jpg" alt=""></div>
 	    	<div><img src="resources/img/slick/IMG_03311.jpg" alt=""></div>
 	    	<div><img src="resources/img/slick/IMG_03421.jpg" alt=""></div>
 	    	<div><img src="resources/img/slick/IMG_03451.jpg" alt=""></div>
 	    	<div><img src="resources/img/slick/IMG_03461.jpg" alt=""></div>
 	    	<div><img src="resources/img/slick/IMG_03481.jpg" alt=""></div>
 	    	<div><img src="resources/img/slick/IMG_03501.jpg" alt=""></div>
 	    	<div><img src="resources/img/slick/IMG_03581.jpg" alt=""></div>
 	    	<div><img src="resources/img/slick/IMG_03591.jpg" alt=""></div>
 	    	<div><img src="resources/img/slick/IMG_03661.jpg" alt=""></div>
 	    	<div><img src="resources/img/slick/IMG_03741.jpg" alt=""></div>
 	    	
		</slick>
	</div>
</div>