<div>
	<div class="majorPageHeading">Projects</div>
	<div class="hrule"></div>
	
	<div class="contentcopy projectsContainer">
		<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  			<li>
  				<div class="projectGridItem">
				<div class="titleArea">
					<h2>Project 1</h2>
				</div>
  				
  				<p>Genitus nostrud feugiat vel inhibeo nulla sit nisl elit aptent saluto. Ad exputo vereor eu et odio laoreet delenit consequat. Illum facilisis vel conventio et vel. Diam molior illum bis. Feugait valde probo. Tego quis quidem ibidem mos. Vicis aptent immitto.</p>
  				</div>
  			</li>
  			<li>
  				<div class="projectGridItem">
  				<div class="titleArea">
					<h2>Project 2</h2>
				</div>
  				<p>Genitus nostrud feugiat vel inhibeo nulla sit nisl elit aptent saluto. Ad exputo vereor eu et odio laoreet delenit consequat. Illum facilisis vel conventio et vel. Vicis aptent immitto. Nonummy obruo magna.</p>
  				</div>
  				
  			</li><li>
  				<div class="projectGridItem">
  				<div class="titleArea">
					<h2>Project 3</h2>
				</div>
  				<p>Nonummy obruo magna vel euismod vindico ut ut decet luctus. Genitus nostrud feugiat vel inhibeo nulla sit nisl elit aptent saluto. Ad exputo vereor eu et odio laoreet delenit consequat. Illum facilisis vel conventio et vel.</p>
  				</div>
  				
  			</li><li>
  				<div class="projectGridItem">
  				<div class="titleArea">
					<h2>Project 4</h2>
				</div>
  				<p>Genitus nostrud feugiat vel inhibeo nulla sit nisl elit aptent saluto. Ad exputo vereor eu et odio laoreet delenit consequat. Illum 	facilisis vel conventio et vel.</p>
  				</div>
  				
  			</li><li>
  				<div class="projectGridItem">
  				<div class="titleArea">
					<h2>Project 5</h2>
				</div>
  				<p>Genitus nostrud feugiat vel inhibeo nulla sit nisl elit aptent saluto. Ad exputo vereor eu et odio laoreet delenit consequat. Illum facilisis vel conventio et vel. Diam molior illum bis. Feugait valde probo. Tego quis quidem ibidem mos. Vicis aptent immitto.</p>
  				</div>
  				
  			</li>
		</ul>

	</div>
</div>