<div>
	<div class="majorPageHeading">Evolution Roofing Systems</div>
	<div class="hrule"></div>
	
	<div class="contentcopy projectsContainer">
		<ul class="small-block-grid-1 medium-block-grid-3">
	  		<li>
	  			<a ui-sref="flat"><home-page-item title="Flat or Membrane Roofs" imgsrc="resources/img/evo1.jpg"/></a>
			</li>

			<li>
				<a ui-sref="pitched"><home-page-item title="Pitched Roofs" imgsrc="resources/img/composition-shingle.jpg"/></a>
			</li>

			<li>
				<a ui-sref="science"><home-page-item title="The Science of Roofing" imgsrc="resources/img/scienceofroofing.jpg"/></a>
			</li>
		</ul>
	</div>
</div>