<div>
	<div class="majorPageHeading">Research and Roofing Technology</div>
	<div class="hrule"></div>
	<div class="marginTop5px"></div>
	
	<div class="contentcopy">
	<h1>Evolution Roofing uses a wide variety of technologically advanced tools to both research what we sell, and to help in developing a plan for every roof we install. </h1>
		<p>Flying drones, infrared cameras, radio frequency reflectors... sounds more like a James Bond movie than a roofing company, but these tools bring the latest technology to bear on determining the correct strategic design for your roof, including:</p>
		<ul>
			<li>Hidden leaks</li>
			<li>Trapped water in roof assembly</li>
			<li>Ponding water issues</li>
			<li>Potential hazards</li>
			<li>Proper leveling</li>
			<li>Potential wind vulnerability</li>
		</ul>
		<h2>Flying Drone</h2>
		<p>Using UAV technology, we can safely deliver HD digital photograph and close up video of the entire roof area, and envelope of a building.  This ariel inspection is quick, safe and thorough.  Within 24 hrs. we will then send you a link to our website to view the footage yourself, along with our observations and recommendations.</p>
		<p>Sample UAV footage, SD 480P.</p>
		<div ng-controller="TechDroneSample as controller" class="videogular-container-480">
			<videogular vg-theme="controller.config.theme">
				<vg-media vg-src="controller.config.sources"
							vg-tracks="controller.config.tracks">
				</vg-media>
				<vg-controls>
					<vg-play-pause-button></vg-play-pause-button>
					<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
					<vg-scrub-bar>
						<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
					</vg-scrub-bar>
					<vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
					<vg-fullscreen-button></vg-fullscreen-button>
				</vg-controls>
				<vg-overlay-play></vg-overlay-play>
			</videogular>
		</div>

		<h2>Infrared Imaging</h2>
		<img-with-caption class="right" imgsrc="resources/img/IRimaging.jpg" cap="Infrared rooftop imaging." title="Fig 1"></img-with-caption>
		<p>The main causes of premature roof failure and high maintenance costs are moisture intrusion and undetected wet insulation inside the roofing system.The roof absorbs heat during the day and releases it when the temperature falls later.  Wet areas release heat slower than dry areas.  Because of this, the wet and dry areas are readily viewable in a thermal image, which displays apparent temperature differences as gradient colors.</p>

		<p>Using an infrared camera to locate areas of moisture intrusion and wet insulation is quick, accurate and inexpensive compared to other methods.  Since IR imaging allows problem areas to be located before severe symptoms appear, significant damage can be avoided by catching and addressing issues as they develop.  Thermal imaging can also be performed from an elevated vantage point, allowing an even greater area to be examined at once, and eliminating the need to lug equipment up and down various roof elevations. </p>
		<h2>Research</h2>
		<p>To separate fact from fiction, we put manufacturers claims to to the test!  From PVC membranes to roofing nails, you can be assured you are getting the best materials in the industry.  Their Warranties and Guarantees my sound good, but we don't take their word for it.</p>

		<h1>No other roofing company incorporates more technology and research into roofing design.</h1>
	</div>
 

</div>