<div>
	<div class="majorPageHeading">Pitched Roof Academy</div>
	<div class="hrule"></div>
	<div class="marginTop5px"></div>
	<div class="contentcopy">
		<h1>Residential Roofing</h1>
		<p>Evolution Roofing has done the research and distinguished fact from fiction to ensure that our customers have the best possible roofing solutions for sustainable, energy efficient homes.</p>
		
		<div class="hrule"></div>

		<div>
			<button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Select Paper</button><br>
			<ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
	  			<li><a ui-sref="academyresidential.shingles">Composition Shingles</a></li>
	  			<li><a ui-sref="academyresidential.underlayments">Underlayments</a></li>
	  			<li><a ui-sref="academyresidential.ventilation">Ventilation</a></li>
	  			<li><a ui-sref="academyresidential.edge">Edge Details</a></li>
	  			<li><a ui-sref="academyresidential.valley">Valley Configurations</a></li>
	  			<li><a ui-sref="academyresidential.flashings">Wall Flashings</a></li>
	  			<li><a ui-sref="academyresidential.fasteners">Fasteners</a></li>
			</ul>
		</div>

		<div class="hrule"></div>
		<div class="marginTop5px"></div>
		<div ui-view class="small-12 columns"></div>
	</div>
</div>

