 <div class="science-paper">
 <div class="title-area">
 	<h2>Fasteners</h2>
 </div>

  <p>In almost all cases 1-1/4” roofing nails are used to attach shingles to the roof deck. Longer nails have virtually no more holding power of a fiberglass shingle than a nail long enough to penetrate the plywood decking. Once the nail has penetrated the roof deck, the ability to tear the shingle off in high wind will never result in pulling the nails with it. The commonly used electroplated galvanized nail is perfect for applications as long as it’s not in a low slope condition as previously discussed, or if in the environment of salt spray being a beach front home. In these conditions, it’s recommended that stainless steel nails be used to prevent corrosion with the salt spray environment.</p>
                <img src="resources/img/roofing-nails.png" alt="roofing-nails">
 </div>