 <div class="science-paper">
 <div class="title-area">
 	<h2>Wall Flashing</h2>
 </div>

  <p>Flashing is installed to prevent water penetration where the roof intersects a wall.</p>
                <p><span class="boldFont">Step Flashing</span> - is a metal square in various sizes depending on shingle size placed on top of every installed shingle going up the wall. These are bent at the half way point by putting 50% on the wall face and 50% on top of the shingle face. This is the absolute best way to flash a wall.</p>
                <p><span class="boldFont">J-Flashing</span> - loved by home builders because of its inexpensive cost, yet requires an installation crew that understands how properly install it so that it doesn’t leak. Failures are consistent with this product and therefore not recommended.</p>
                <img src="resources/img/flashing.png" alt="flashing">
 </div>